body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.none{
  display: none;
}
.react-message{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    background: #000;
    padding: 10px 50px;
    color: #fff;
    display: flex;
    font-size: 18px;
    justify-content: center;
    align-items: center;
    animation: .2s toToDown linear;
    z-index: 99999;
}

@keyframes toToDown{
    0%{
        opacity: .2;
        transform: translate3d(-50%, -100%, 0);
    }
    100%{
        opacity: 1;
        transform: translate3d(-50%, -50%, 0);
    }
}